.btn-exp {
  color: #162c49;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0.5rem;
}

.elem-exp {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.elem-exp:hover {
  background-color: #b0caec;
}

.img-proy {
  align-self: center;
  width: 20%;
}

.description {
  width: 80%;
}
.description p {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .btn-exp {
    margin: 2rem;
  }
  .elem-exp {
    flex-direction: column;
  }
}
